@import "base/fonts";
@import "base/reset";
@import "base/variables";

html {
  min-height: 200px;
}
h2 {
  padding-top: 2vh;
  font-size: 25px;
  text-align: center;
}

.engineInput {
  padding: 3px 10px;
  line-height: 30px;
  margin: 3px;
}

.engineDiv {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  padding: 5px;
}

.URLInput {
  width: 50%;
}

.minusButton {
  font-size: 4vh;
  line-height: 42px;
  height: 100%;
}

#addButtonContainer {
  display: flex;
  padding-top: 1vh;
}
#buttonSpacer {
  flex-grow: 2;
}

#addButton {
  align-self: end;
  padding: 10px;
  font-size: 5vw;
}





