@import "base/fonts";
@import "base/reset";
@import "base/variables";

body {
  color: $black;
  background-color: $greyWhite;
}

h2 {
  font-size: 25px;
  text-align: center;
}


#options__button {
  width: 50%;
  background: green;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px 10px;
  justify-content: center;
  margin: 20px auto;
  cursor: pointer;
  opacity: 0.8;
  display: flex;
}



.engineInput {
  padding: 3px 10px;
  line-height: 30px;
  margin: 3px;
}

.engineDiv {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}

.URLInput {
  width: 60%;
}


#popup {
  min-width: 500px;
  padding: 80px 20px;
}

.minusIconContainer {
  display: flex;
  align-items: stretch;
}

.minusButton {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

#addButtonContainer {
  display: flex;
  padding-top: 1vh;
}
#buttonSpacer {
  flex-grow: 2;
}

#plusButton {
  align-self: end;
}

button {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: dodgerblue;
  border-radius: 10px;
  height: 8vh;
  color: white;

}





